ACTION=="add", SUBSYSTEM=="input", KERNEL=="mouse[0-9]", ENV{DISPLAY}=":0",ENV{XAUTHORITY}="/home/sho/.Xauthority", ENV{ID_CLASS}="mouse", RUN+="/usr/local/bin/touchpad_toggle.sh false"

ACTION=="remove", SUBSYSTEM=="input", KERNEL=="mouse[0-9]", ENV{DISPLAY}=":0",ENV{XAUTHORITY}="/home/sho/.Xauthority", ENV{ID_CLASS}="mouse", RUN+="/usr/local/bin/touchpad_toggle.sh true"